.container{
    display: grid;
    gap: 5px;
    border: 2px solid  lightgray;
    grid-template-columns: repeat(3, 1fr);
    background-color: beige;
    text-align: center;
}

.item-1{
    background-color: aqua;
    grid-column: 1/4;
}
.item-2{
    background-color: lightgreen;
    grid-row: 2/4;
    grid-column-start: 1;
    grid-column-end: 2;
}
.item-3{
    background-color: rgb(255, 234, 0);
    grid-column: 2/4;
    height: 100px;
    /* grid-row: 2/3; */
}
.item-4{
    background-color: rgb(155, 163, 163);
    grid-column: 2/4;
}
.item-5{
    background-color: rgb(255, 174, 0);
    grid-column: 1/4;
}